@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to my Blazor application. This is a example application that demonstrates how to build Blazor applications using .NET 8.0 and Visual Studio 2022.
